* {
    box-sizing: border-box;
  
  }

  body {
    font-family: Verdana;
    background-color: white;
  }

  a {
    text-decoration: none;
    }
    a:-webkit-any-link {
        cursor: pointer;
    }

  .logo
    float: left;
    padding-left: 10px;
    padding-top: 55px;
    margin-bottom: 20px;
}
h1.nome{
    color: #333333;
}
a.nome{
    text-decoration: none;
}
/*Div Busca*/
.busca
{
    float: left;
    margin-left: 27px;
}
#searchform{
    height: 105px;
    display:none;
}
/*Entrada da busca*/
input.busca
{
    float: left;
    width: 450px;
    height: 32px;
    margin-left: 0;
    border:1px solid white;
    padding-left:10px;
    border-radius: 7px;
}


/*Imagem da lupa*/
#lupa
{
    padding-right: 5px;
    padding-top: 26px;
    padding-bottom: 5px;
}

/*Div Carrinho de compras*/
.carrinho {
    float: left;
    width: 60px;
    height: 73px;
    padding-top: 20px
}
img.carrinho{
    margin-left: 5px;
    width: 46px;
    height: 53px;
    padding-top: 24px;
    padding-left: 18px;
    margin-top: -10px;
}

/*Cabecalho*/
#cabecalho
{
    width: 100%; 
    height: 200px;
}
ul.cabecalho{
    position: relative;
    display: inline-block;
    text-align: left;
    margin-left: -30px;
}
li.cabecalho{
    position: relative;
    display: inline-block;
    text-align: left;
}
/*Configuracao dos links no menu do cabecalho*/
a
{
    text-decoration: none;
}
a.cabecalho
{
    font-size: 17px;
}

a:link.cabecalho
{
    color: #333333;
    text-decoration: none;
    text-align: center;
}

a:visited.cabecalho
{
    color: #333333;
    text-decoration: none;
    text-align: center;
}

a:hover.cabecalho
{
    text-decoration: none;
    color: #333333;
    text-align: center;
}
a:active.cabecalho
{

    color: #333333;
    text-align: center;
}

header{
    float: left;
    width: 100%;
    height: 65px;
    margin-top: 40px;
}
h2.header{
    font-size: 2em;
    line-height: 1.214;
    color: #333333;
    clear: both;
    font-weight: 300;
    margin: 0 0 0.5407911001em;
}
h2.header_minus{
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding-bottom: 8px;
    padding-top: 8px;
    font-size:  2em;
    line-height: 1.214;
    letter-spacing: -1px;
    color: #333333;
    clear: both;
    font-weight: 300;
    margin: 0 0 0.5407911001em;
}
/*Div do Menu*/
.div_menu
{
    float: left;
    width: 100%; 
    height: 55px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.menu{
}

/*Div principal*/
#principal
{
    float: left;
    width: 90%;
    margin-left: 28px;
    min-height: 500px;
    background-color: white
}

/*Conteudo*/
#conteudo
{
    float: left;
    width: 100%;
    background-color: white;
    padding-top: 10px;
}

#sidebar{
    color:#333333;
}
.sidebar_div{
    float: left;
    width: 15%;
    margin-left: 20px;
}
h2.sidebar{
    font-size: 2em;
    line-height: 1.214;
    color: #333;
    clear: both;
    font-weight: 300;
    margin: 0 0 .5407911001em;
}
h4.categoria{
    font-size: 1em;
    line-height: 1.214;
    color: #333;
    margin-left: 15px;
    clear: both;
    font-weight: 300;
    margin: 0 0 .5407911001em;
}

a.categoria{
    color:#333333;
    text-decoration: none;
}

footer {
    float: left;
    width: 100%;
    height: 60px;
    margin-top: 10px;
}
p.footer{
    color: #333333;
    width: 100%;
    padding-top: 5px;
}


/*configurações no style do woocommerce*/
.woocommerce .woocommerce-ordering select {
    border-radius: 7px;
    height: 25px;
}
.woocommerce.columns-3 ul.products li.product {
    width: 30.75%;
}
.woocommerce ul.products li.product a img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 0 1em;
    box-shadow: none;
}
header.woocommerce-Address-title{
    margin-top: 5px;
    width: 400px;
}
address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
    width: 400px;
}
.woocommerce-MyAccount-navigation{
    display: block;
    margin-right: 5px;
}
.woocommerce-MyAccount-navigation ul li {
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    position: relative;
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link a {
    text-decoration: none;
    padding: 0.875em 0;
    display: block;
}
.woocommerce img, .woocommerce-page img {
    max-width: 50%;
}
.woocommerce .quantity .qty {
    width: 3.631em;
    text-align: center;
    border-radius: 7px;
    height: 36px;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: normal;
    border-radius: 7px;
    height: 40px;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h2 {
    color: #333333;
}

/*tables*/
table.cart th, table.cart td {
    padding: 1.618em;
}
th {
    background-color: #f8f8f8;
}
table th {
    font-weight: 600;
}
.woocommerce-MyAccount-content{
    float: left;
    width: 100%;
    margin-top: 30px;
    margin-left: 45px;
}
.woocommerce table.shop_table {
    border: 1px solid rgba(0,0,0,.1);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 70%;
    border-collapse: separate;
    border-radius: 5px;
}

/*label*/
input[type='text'], input[type='number'], input[type='email'], input[type='tel'], input[type='url'], input[type='password'], input[type='search'], textarea, .input-text {
    padding: 0.6180469716em;
    background-color: #f2f2f2;
    color: #43454b;
    border: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-weight: normal;
}

fieldset {
    padding: 1.618em;
    padding-top: 1em;
    border: 0;
    margin: 0;
    margin-bottom: 1.618em;
    margin-top: 1.618em;
    background-color: #fbfbfb;
    border-radius: 7px;
}
fieldset legend {
    background-color: #fbfbfb;
    font-weight: 600;
    padding: 0.6180469716em 1em;
    margin-left: -1.6em;
    border-radius: 7px;
}

/*esconde quando tiver com a tela menor*/
.carrinho img.carrinho{
    display:none;
}
h3.nome{
    display:none;
}
.sidebar_div{
    display: none;
}
/* so aparece se a tela for menor */
#searchform2{
    display: block;
    padding-left: 20px;
}
/* PC*/
@media (min-width: 992px)
{
    
    .sidebar_div{
        display: block;
    }
    .carrinho img.carrinho{
        display:block;
    }
    #searchform{
        display:block;
    }
    #searchform2{
        display: none;
    }
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        margin-top: 40px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0rem;
        padding-left: 0rem;
    }
    a.cabecalho
    {
        font-size: 20px;
    }
    
}
/* tablet */
@media (min-width: 768px)
{
    .div_menu::before, .div_menu::after {
    content: '';
    display: table;
    }
    .main_navegation::before, .main_navegation::after {
    content: '';
    display: table;
    }
    .menu::before, .menu::after {
    content: '';
    display: table;
    }
    .menu-toggle,.main-navigation.toggled .main-navigation.toggled div.menu {
    display: none;
    }
    .main-navigation div.menu {
    display: block;
    }
    .main-navigation ul.menu, .main-navigation ul.nav-menu {
    max-height: none;
    overflow: visible;
    margin-left: -1em;
    -webkit-transition: none;
    transition: none;
    }
    .main-navigation ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: block;
    }
    .main-navigation {
    width: 73.9130434783%;
    float: left;
    margin-right: 4.347826087%;
    clear: both;
    display: block;
    }
    .main-navigation .menu {
        clear: both;
    }
    
    .woocommerce-MyAccount-navigation {
        width: 17.6470588235%;
        float: left;
        margin-right: 5.8823529412%;
    }
    .conteudo{
        width: 80%;
    }
    header.woocommerce-Address-title{
        margin-top: 5px;
        width: 270px;
        height: 110px;
    }
    address {
        width: 200px;
    }
    .woocommerce-MyAccount-content {
        float: left;
        width: 70%;
        margin-top: 30px;
        margin-left: 45px;
    }
    .mt-2, .my-2 {
        margin-top: 3.5rem!important;
    }
}

/*botão*/
button.menu-toggle {
    cursor: pointer;
    text-align: left;
    float: right;
    position: relative;
    border: 2px solid transparent;
    box-shadow: none;
    border-radius: 2px;
    background-image: none;
    padding: 0.6180469716em 0.875em 0.6180469716em 2.617924em;
    font-size: 0.875em;
    max-width: 120px;
    background-color: #ffffff;
}
button.menu-toggle, button.menu-toggle:hover {
    border-color: #333333;
}

.navbar-toggler {
    padding: 0.25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-top: 40px;
}

@media (min-width: 576px){
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        margin-top: -24px;
    }
}
