* {
    box-sizing: border-box;
  
  }
  @media (min-width: 768px){
      .menu{

      }
  }

  body {
    font-family: Verdana;
    background-color: white;
  }

  a {
    text-decoration: none;
    }
    a:-webkit-any-link {
        cursor: pointer;
    }

  .logo{
    float: left;
    padding-left: 30px;
    padding-top: 50px;
}
.nome{
    color: #333333;
}
/*Div Busca*/
.busca
{
    float: left;
    margin-left: 35px;
}
#searchform{
    background-color: #f2f2f2;
    height: 35px;
    margin-top: 113px;
}
/*Entrada da busca*/
input.busca
{
    float: left;
    width: 450px;
    height: 32px;
    margin-left: 0;
    border:1px solid white;
    padding-left:10px;
    border-radius: 7px;
}


/*Imagem da lupa*/
#lupa
{
    padding-right: 5px;
    padding-top: 5px;
}

/*Div Carrinho de compras*/
.carrinho {
    float: left;
    width: 80px;
    height: 100px;
    padding-top: 94px;
    margin-left: 40px;
}
p.pequeno
{
    font-size: 10px;
    color: #333333;
    margin-top: 0;
    text-align: center;
}
img.carrinho{
    padding-left: 18px;
}
/*Cabecalho*/
#cabecalho
{
    width: 100%; 
    height: 260px;
    background-color:white;
}
ul.cabecalho{
    position: relative;
    display: inline-block;
    text-align: left;
    margin-left: -30px;
}
li.cabecalho{
    position: relative;
    display: inline-block;
    text-align: left;
}
button.menu {
    cursor: pointer;
    text-align: left;
    float: right;
    position: relative;
    border: 2px solid transparent;
    box-shadow: none;
    border-radius: 2px;
    background-image: none;
    padding: 0.6180469716em 0.875em 0.6180469716em 2.617924em;
    font-size: 0.875em;
    max-width: 120px;
}
/*Configuracao dos links no menu do cabecalho*/
a
{
    text-decoration: none;
}
a.cabecalho
{
    font-size: 20px;
    padding-left: 2em;
}

a:link.cabecalho
{
    padding:15px 20px;
    color: #333333;
    text-decoration: none;
    text-align: center;
}

a:visited.cabecalho
{
    padding:15px 20px;
    color: #333333;
    text-decoration: none;
    text-align: center;
}

a:hover.cabecalho
{
    text-decoration: none;
    color: #333333;
    text-align: center;
}
a:active.cabecalho
{

    color: #333333;
    text-align: center;
}

header{
    width: 100%;
    height: 90px;
}
h2.header{
    font-size: 2em;
    line-height: 1.214;
    color: #333333;
    clear: both;
    font-weight: 300;
    margin: 0 0 0.5407911001em;
}
h2.header_minus{
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding-bottom: 8px;
    padding-top: 8px;
    font-size:  2em;
    line-height: 1.214;
    letter-spacing: -1px;
    color: #333333;
    clear: both;
    font-weight: 300;
    margin: 0 0 0.5407911001em;
}
/*Div do Menu*/
.div_menu
{
    float: left;
    width: 100%; 
    height: 55px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.menu{
    float: left;
}

.wrap 
{
    width: 99%;
    margin: 0 auto;
}
/*Div principal*/
#principal
{
    width: 100%;
    min-height: 500px;
    background-color: white;
}

/*Conteudo*/
#conteudo
{
    float: left;
    width: 70%;
    background-color: white;
    padding-top: 10px;
}

#sidebar{
    color:#333333;
}
.sidebar_div{
    float: right;
    width: 25%;
    background: white;
}

h4.categoria{
    color:#333333;
    text-decoration: none;
}

a.categoria{
    color:#333333;
    text-decoration: none;
}

footer {
    float: left;
    width: 100%;
    height: 60px;
    margin-top: 10px;
}
p.footer{
    color: #333333;
    width: 100%;
    padding-top: 5px;
}


/*configurações no style do woocommerce*/
.woocommerce .woocommerce-ordering select {
    border-radius: 7px;
    height: 25px;
}
.woocommerce.columns-3 ul.products li.product {
    width: 30.75%;
}
.woocommerce ul.products li.product a img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 0 1em;
    box-shadow: none;
}
header.woocommerce-Address-title{
    margin-top: 5px;
}
.woocommerce-MyAccount-navigation{
    width: 17.6470588235%;
    float: left;
    margin-right: 5px;
    margin-left: -33px;
}
.woocommerce-MyAccount-navigation ul li {
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    position: relative;
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link a {
    text-decoration: none;
    padding: 0.875em 0;
    display: block;
}
.woocommerce img, .woocommerce-page img {
    max-width: 25%;
}
.woocommerce .quantity .qty {
    width: 3.631em;
    text-align: center;
    border-radius: 7px;
    height: 36px;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: normal;
    border-radius: 7px;
    height: 40px;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h2 {
    color: #333333;
}

/*tables*/
table.cart th, table.cart td {
    padding: 1.618em;
}
th {
    background-color: #f8f8f8;
}
table th {
    font-weight: 600;
}
.woocommerce-MyAccount-content{
    float: left;
    width: 80%;
    margin-top: 30px;
    margin-left: 45px;
}
.woocommerce table.shop_table {
    border: 1px solid rgba(0,0,0,.1);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 70%;
    border-collapse: separate;
    border-radius: 5px;
}

/*label*/
input[type='text'], input[type='number'], input[type='email'], input[type='tel'], input[type='url'], input[type='password'], input[type='search'], textarea, .input-text {
    padding: 0.6180469716em;
    background-color: #f2f2f2;
    color: #43454b;
    border: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-weight: normal;
}

fieldset {
    padding: 1.618em;
    padding-top: 1em;
    border: 0;
    margin: 0;
    margin-bottom: 1.618em;
    margin-top: 1.618em;
    background-color: #fbfbfb;
    border-radius: 7px;
}
fieldset legend {
    background-color: #fbfbfb;
    font-weight: 600;
    padding: 0.6180469716em 1em;
    margin-left: -1.6em;
    border-radius: 7px;
}